:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fff;
  background-color: #f6f6f6;

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-text-size-adjust: 100%;*/
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 12px;
}

#left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100%;
  gap: 12px;
  padding: 12px;
  background-color: #1d1d1d;
}

#left-panel .servers {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: crimson;
}

#left-panel .create-server {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: auto;
  background-color: #28A944;
}

#left-panel .join-server {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: auto;
  background-color: #4080E0;
}

#left-panel .profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom:auto;
  background-color: #FF0000;
}



/*---------------------------------------------------------------------*/

#middle-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
}

#middle-panel input {
  height: 40px;
  margin-top: auto;
  color: white;
}

input[type="text"], textarea {
  background-color: #2d2d2d;
}

/*---------------------------------------------------------------------*/

#right-panel {
  display: flex;
  width: 250px;
  height: 100%;
  background-color: #1d1d1d;
  justify-content: center;
}

#right-panel h1 {
  padding-top: 20px;
}
